<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252005392436-hquplpj0i8abl5jea8chvfp535v48d0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252005392436-hquplpj0i8abl5jea8chvfp535v48d0d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>252005392436-l9us5jesbkvalo82lj2hb2f4bttt4df8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAWQd53uF4EtZOvSuZMq_2AGT9iqCRgDj0</string>
	<key>GCM_SENDER_ID</key>
	<string>252005392436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lsambo02.despensa</string>
	<key>PROJECT_ID</key>
	<string>despensa-1bed3</string>
	<key>STORAGE_BUCKET</key>
	<string>despensa-1bed3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252005392436:ios:fe327924c43bf14483aa61</string>
	<key>DATABASE_URL</key>
	<string>https://despensa-1bed3.firebaseio.com</string>
</dict>
</plist>